body {
    background-color: #5CDB95;
    color: #05386B;
}
ul.Horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}
li.Horizontal{
    float: left;
}
li a.Horizontal{
    display: block;
    padding: 8px;
    color: #05386B;
    text-decoration: none;
}
li a.Horizontal:hover{
    background-color: #053868;
    color: #5CDB95;
    text-decoration: none;
}
h2 {
    clear:left;
    padding-top: 8px
}

h1.title{
    padding-bottom: 10px
}
